.DS_Store
app/logger
app/.DS_Store
app/.gitignore
node_modules/
app/appESSENTIALS_linux.elf
app/appESSENTIALS_mac.app
app/appESSENTIALS_win.exe

app/ui/assets/bin/admin.min.js
app/ui/assets/bin/support.min.js
app/ui/assets/bin/partner.min.js
app/ui/assets/bin/staff.min.js
app/ui/assets/bin/customer.min.js
app/ui/assets/bin/website.min.js

.vscode/
newsletter/
campaign/
logger/
images/
files/
memo/
blog/
task/
bolt.db
demo.elf
demo.app
public.pem
private.pem
app/ui/.DS_Store
jsonPdf.json
.DS_Store
campaigns/
ESSENTIALS.aar
ESSENTIALS-sources.jar
appESSENTIALS_mac.app
Caddyfile
app/ui/assets/bin/service-worker.js
devBolt.db
CBN-STAFF-MULTI-PURPOSE-COOP-SOCIETY.pdf
tasks/
assets/bin/web.min.js
tessa
assets/bin/service-worker.js
TESSA.aar
TESSA-sources.jar
assets/bin/main.min.js
assets/bin/web3.min.js
assets/bin/web3Dapp.min.js
assets/bin/app.min.js
tessa_mac.app
bolt.db
yarn.lock
assets/bin/dashboard.min.js
bolt.s3db
bolt.s3db
.bpw
tessa_win.exe
